<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			Symfony Concerto
		</section>
		<section class="col">
			Symfony Concerto
		</section>
		<section class="col">
			Symfony Concerto
		</section>
	</div>
</footer>
