
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_profile_edit') }}">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ logout_path() }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_register') }}">Register</a>
                    </li>
				{% endif %}
			</ul>
