{# { form(dcmntForm) } #}
{{ form_start(dcmntForm) }}

    {% for name,type in fields %}
        {% if (type=='string') %}
            {{ form_row(attribute(dcmntForm,name)) }}
        {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Find') }}</button>

{{ form_end(dcmntForm) }}
