{% extends 'base_b.html.twig' %}

{% block title %}{% endblock %}

{% block navigation %}
    {% include "_partials/_nav.html.twig" %}
{% endblock %}

{% block body %}

<div class="row">
    
    <div class="col-sm-10">
        {% block main %}{% endblock %}
    </div>
    <div class="col-sm-2" style="background-color: yellow;">
        {% block side %}
        {% include "admin/oooo/_side.html.twig" %}
        {% endblock %}
    </div>
</div>

{% endblock %}
