{% extends "admin/oooo/base_side.html.twig" %}

{% block title %}New document{% endblock %}

{% block main %}{# { dump(dcmnt) } #}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Add a new document</h1>
                {% include "admin/oooo/__form.html.twig" with {'button_label': 'Add a new document'} %}
            </div>
        </section>
    </main>
{% endblock %}
