{% extends 'base_363.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<p></p><p></p><p></p><p></p>

<div align='center'>
<a onclick="window.open('https://quiz.netinter.fr/quiz/login', '_blank', 'width=300, height=300')">
<button type="button" class="btn btn-danger">
<h1>Restricted Access : Login</h1>
</button>
</a>
</div>

<p></p><p></p><p></p><p></p>

{% endblock %}
