{% extends 'base_b.html.twig' %}

{% block title %}{{ llll.title|trans }}{% endblock %}

{% block main %}{# { dump(dcmnts) } #}
    <h1>{{ 'title.doc_list'|trans }}</h1>
    {% set tbsort = 'dcmnts' %}
    {% include "_partials/_dcmnts_list.html.twig" %}

{% endblock %}
