{% extends 'base_b.html.twig' %}

{% block title %}{{ "Index"|trans }}{% endblock %}
{% block navigation %}{% include "_partials/_nav.html.twig" %}{% endblock %}
{% block main %}

<SCRIPT language=javascript></SCRIPT>

{# { dump(request) } #}

<p></p><p></p><p></p><p></p>

<div align='center'>
<a onclick="window.open('https://quiz.netinter.fr/quiz/login', '_blank', 'width=300, height=300')">
<button type="button" class="btn btn-danger"><h1>Login form</h1></button>
</a>
</div>

<p></p><p></p><p></p><p></p>
<table id="myTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>bJohn</td>
            <td>cDoe</td>
            <td>30</td>
        </tr>
        <tr>
            <td>aJohn</td>
            <td>bDoe</td>
            <td>40</td>
        </tr>
        <tr>
            <td>cJohn</td>
            <td>aDoe</td>
            <td>50</td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>

<script>
$(document).ready(function() {
    $("#myTable").tablesorter();
});
</script>
<p></p><p></p><p></p><p></p>
    {% set docum="/Images/balai.jpeg" %}
    {% include "_partials/_documentmodal.html.twig" %}
{% endblock %}
