{% extends 'base_bootstrap.html.twig' %}

{% block title %}
    Symfony-concertO
{% endblock %}

{% block navigation %}
    {% include "_partials/_nav.html.twig" %}
{% endblock %}

{% block body %}

{% if app.user and app.user.isVerified == false %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-message">
            <strong>{{ "Votre compte n'est pas activé"|trans }}</strong>, <a href="{{ path('user_resend_verif') }}">{{ "Renvoyer le lien d'activation"|trans }}</a>
        </div>
    </div>
{% endif %}

<div class="row">
    <div>{% block main %}{% endblock %}</div>
</div>

{% endblock %}


{% block footer %}
    {% include "_partials/_footer.html.twig" %}
{% endblock %}
